.today {
  display: flex;
  flex-direction: column;
}

.location {
  margin: 1.2rem 0;
}

.location h2 {
  margin-bottom: 6px;
  color: var(--white);
}

.location h3 {
  margin: 0;
  font-size: var(--xsmall);
  font-weight: 400;
}

.forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2.5rem 0;
}

.icon {
  font-size: 5rem;
  color: var(--white);
}

.temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

.temperature h1 {
  margin: 0;
  font-size: var(--large);
}

.temperature span {
  display: block;
  font-size: var(--small);
}

.details {
  margin: 1.2rem 0;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid var(--border-gray);
  border-bottom: 1px solid var(--border-gray);
  padding: 1.2rem 0;
}

@media screen and (min-width: 1024px) {
  .today {
    flex-direction: row;
  }

  .forecast {
    margin: 0 2.5rem;
    flex: 1;
  }

  .details {
    border-top: none;
    border-bottom: none;
    border-left: 1px solid var(--border-gray);
    padding: 0;
    padding-left: 1.2rem;
    flex: 1;
  }
}
