:root {
  /* Typography */
  --tiny: 0.75rem;
  --xsmall: 1rem;
  --small: 1.2rem;
  --medium: 2rem;
  --large: 3rem;
}

body {
  margin: 0 1rem;
}

* {
  box-sizing: border-box;
}

.search-input {
  margin: 1rem 0;
  height: 2rem;
  width: calc(100% - 2rem);
  border-radius: 4px;
  border: 1px solid black;
  padding: 0.25rem;
}
